[defaults]
inventory = inventory/production.yml
local_tmp = ../.ansible/tmp
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o IdentitiesOnly=yes -o UserKnownHostsFile=../.ansible/known_hosts
