RESTIC_REPOSITORY='sftp:{{ backup_username }}@{{ backup_server }}:/home/crm-restic'
RESTIC_PASSWORD_FILE=/etc/crm-backup/restic-password
RESTIC_SFTP_COMMAND='ssh -i /etc/crm-backup/backup_ed25519 -o IdentitiesOnly=yes -o StrictHostKeyChecking=yes -o UserKnownHostsFile=/etc/crm-backup/known_hosts -p 23 {{ backup_username }}@{{ backup_server }} -s sftp'
